
<h1>Add an Object to the Collection<h1>

<h3>

 <form method="POST" action="AddObj" id="AddObj" enctype='multipart/form-data'>
 		<div> Location**
			<BR>
			<textarea name="location" form="AddObj" cols='50' style="font-size:16px;" required></textarea>
		</div>
	 	*Accession #:  <input type="text" name = "accession" value ="" required>
	 	<BR>
	 	Maker/Designer/Artist: <input type="text" name = "maker" value ="">
	 	<BR>
	 	Manufacturer: <input type="text" name = "manufacturer" value ="" >
	 	<BR>
	 	*Title: <input type="text" name = "title" value ="" required >
	 	<BR>
 		{{!-- Dates can be in string format: ca. 1930 vs. 1932-1934--}}
	 	*Date : <input type="text" name="date" value="" required>
	 	<BR>
	 	*Medium: <input type="text" name="medium" value="" required>
	 	<BR>
	 	<div>
			Dimensions:
			<blockquote>
				<input type="text" name="length" form="AddObj"> X <input type="text" name="width" form="AddObj"> X <input type="text" name="height" form="AddObj">
			</blockquote>
		</div> 
	 	Marks: <input type="text" name="marks" value="">
	 	<div> Description
				<BR>
				<textarea name="description" form="AddObj" cols='50' style=" font-size:16px;"></textarea>
		</div>
		<br>
		<div>
			Image Upload
			<BR>
			<input type="file" name="pic" accept="image/*" form="AddObj" required>
		</div>

		<div> Further Articles (please separate by commas)
				<BR>
				<textarea name="articles" form="AddObj" cols='50' style="font-size:16px;"></textarea>
		</div>

		<div> Article Links (please separate by commas)
				<BR>
				<textarea name="artLinks" form="AddObj" cols='50' style="font-size:16px;"></textarea>
		</div>

		<div> Further Videos (please separate by commas)
				<BR>
				<textarea name="links" form="AddObj" cols='50' style="font-size:16px;"></textarea>
		</div>
		<br>
		Keywords: <input type="text" name = "subject" value ="">
	 <BR>
		<input type="submit" value="Submit" form="AddObj">
	</form>

</3>
	<p>
		<a href="/">Go Back to Research Center's Home Page </a href>
	</p>
