
<div class="container-fluid">
	<h1>Advanced Search</h1>
	<p>
		<a href="/">Go Back to Research Center's Home Page </a href>
	</p>
	 <form method="POST" action="AdvancedSearch" id="AdvancedSearch">
	 	*Accession #:  <input type="text" name = "accession" value ="" >
	 	<BR>
	 	Maker/Designer/Artist: <input type="text" name = "maker" value ="">
	 	<BR>
	 	Manufacturer: <input type="text" name = "manufacturer" value ="" >
	 	<BR>
	 	*Title: <input type="text" name = "title" value =""  >
	 	<BR>
 		{{!-- Dates can be in string format: ca. 1930 vs. 1932-1934--}}
	 	*Date : <input type="text" name="date" value="">
	 	<BR>
	 	*Medium: <input type="text" name="medium" value="" >
		<br>
		Location: <input type="text" name="location" value="">
		<br>
		Keywords: <input type="text" name="keywords" value="">
		<br>
		<input type="submit" value="Submit" form="AdvancedSearch">
	</form>





</div>