
<div class="container-fluid">
	<h1>Welcome to the Brooklyn Museum's Luce Research Center<h1>
	<h4>
		PLEASE ENJOY
	</h4>
	<p>
		<a href="AdvancedSearch">Advanced Search</a><BR>		
		<a href="AskUs">Ask Us</a><BR>
		<a href="Themes">Themes</a><BR>
		<a href="AddObj">Add Obj</a><BR>
		<a href="mapSearch">Map Search</a>
	</p>
	{{!-- <div class="col-md-2"> --}}
	{{!-- <h5>Search:<input required class="form-control" type="text" id="search" name="search">	
		<input id="searchBtn" type="submit" class="btn"> --}}
			<form method = "GET" action="/search" id = "formdiv">
	 		Show me: <input type="text" name = "search" value ="">
	 		<BR>
	 		<input type="submit" value="Search!" style="font-size:15px; color:#F4F1DE; background-color: #81B29A;"><BR><BR>
			</form>

</div>
{{!-- 
<script src="/ajax.js"></script>
 --}}