
<h1>Welcome to the Brooklyn Museums Luce Research Center<h1>

{{!-- {{#if err}}
	There is an error{{err}}
{{/if}} --}}
{{!-- <div class="col-md-6 ">
 --}}	<h4>
	PLEASE ENJOY
	</h4>
	<p>
		<a href="AdvancedSearch">Advanced Search</a href><BR>		
		<a href="AskUs">Ask Us</a href><BR>
		<a href="Themes">Themes</a href><BR>
		<a href="AddObj">Add Obj</a href><BR>

	</p>


{{!-- </div>
 --}}
{{!-- 
<script>
	document.getElementsByClassName('OverallTitle')[0].classList.add('hidden');
</script> --}}