<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6" style="margin:auto;">
		<form method="POST" action="keyTerm" id="keyTerm">

			<div class="row">
				<div class="col">
					<input class="btn btn-primary" name="keyWord" type="submit" value="17th Century A.D." style="float:left; margin: 5px;"></td>

					<div class="row">
						<div class="col-lg-12">
							<input class="btn btn-primary" name="keyWord" type="submit" value="18th Century A.D." style="float:left; margin: 5px; "></td>

							<input class="btn btn-primary" name="keyWord" type="submit" value="19th Century A.D." style="float:left; margin: 5px"></td>
						</div>
					</div>
				</div>
			</div>

			<div class="row" style="margin-top: 10px; width:50%">
				<div class="col-lg-12">
					<input class="btn btn-primary" name="keyWord" type="submit" value="America" style="float:left; margin: 5px; "></td>

						<div class="col-lg-12">
							<input class="btn btn-primary" name="keyWord" type="submit" value="France " style="float:left; margin: 5px"></td>
						</div>

						<div class="col-lg-12">
							<input class="btn btn-primary" name="keyWord" type="submit" value="England " style="float:left; margin: 5px"></td>
						</div>

						<div class="col-lg-12">
							<input class="btn btn-primary" name="keyWord" type="submit" value="Spain " style="float:left; margin: 5px"></td>
						</div>
				</div>
			</div>


			<div class="row" style="margin-top: 10px">
				<div class="col-lg-12">
					
					<div class="row">
						<div class="col-lg-12">
							<input class="btn btn-primary" name="keyWord" type="submit" value="Luminism " style="float:left; margin: 5px"></td>
						</div>

						<div class="col-lg-12">
							<input class="btn btn-primary" name="keyWord" type="submit" value="Neoclassicism" style="float:left; margin: 5px"></td>
						</div>

					</div>
				</div>
			</div>


			<div class="row" style="margin-top: 10px">
				<div class="col-lg-12">
	
					<div class="row">
						<div class="col-lg-12">
							<input class="btn btn-primary" name="keyWord" type="submit" value="Landscape Paintings" style="float:left; margin: 5px"></td>
						</div>

						<div class="col-lg-12">
							<input class="btn btn-primary" name="keyWord" type="submit" value="Portrait Paintings" style="float:left; margin: 5px"></td>
						</div>

						<div class="col-lg-12">
							<input class="btn btn-primary" name="keyWord" type="submit" value="Hudson River School" style="float:left; margin: 5px"></td>
						</div>

						<div class="col-lg-12">
							<input class="btn btn-primary" name="keyWord" type="submit" value="Ceramics" style="float:left; margin: 5px"></td>
						</div>

						<div class="col-lg-12">
							<input class="btn btn-primary" name="keyWord" type="submit" value="Ceramics" style="float:right; margin: 5px"></td>
						</div>
					</div>
				</div>
			</div>

					
		</form>
		</div>
	</div>
</div>